@{
    Layout = "~/Areas/Admin/Views/Shared/admin_layout.cshtml";
}
@*@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            document.getElementById("product_heading").className = "heading collapsed";
            document.getElementById("system_heading").className = "heading collapsed";
            document.getElementById('system_items').style.display = "block";
            document.getElementById('product_items').style.display = "block";
        });
    </script>
}*@
<div id="right" style="width:1130px;height:560px;overflow:auto;">
    <div id="content">
        <div class="container">
            <h1 style="text-align:center">Welcome to Admin Control Panel<br /><br />
            Choose from left menu to begin</h1>
        </div>
    </div>
</div>