@{
    Layout = "~/Areas/Admin/Views/Shared/admin_layout.cshtml";
}
<div id="right" style="width:1130px;height:560px;overflow:auto;">
    <div id="content">
        <div class="container">
            <h1 style="text-align:center; color:Red">You do not have permission to access this page!<br /><br />
        </div>
    </div>
</div>